
<div class="our-smoothies-banner"></div>
<div class="section-padding">
  <div class="order">
    <div class="order-header">
      <h3>My <u><%= @status %></u> Subscription</h3>
      <h4>My nutrition</h4>
      <p>So <%= @customer.first_name %>. You told us that you are a <b><%= @customer.gender %></b> age <b><%= @customer.age %></b>. You are <b><%= @customer.height %> cm</b> tall and weigh <b><%= @customer.weight %>kg</b>. On most weekdays you eat <b><%= @customer.meals_per_day %></b> meals. You say you are <%= @customer.activity_level %> and your current goal is to <%= @customer.goal %>.</p>
      <p>Based on this our clever nutrition computer has calculated that...</p>
    </div>
    <div class="basket-confirmation">
      <div class="column-category margin-top-bottom">
         <h4>Fact 1 </h4>
      </div>
      <div class="column-category second-column row-one margin-top-bottom">
        <p>If you spent a day lying in bed your body would use up <%= @customer.bmr %> Calories per day to keep you alive!</p>
        <p>Energy your body uses at rest e.g. to breathe, pump blood, think etc. It’s called your “Basal Metabolic Rate” (BMR)</p>
      </div>
      <div class="column-category margin-top-bottom ">
        <h4>Fact 2 </h4>
      </div>
      <div class="column-category second-column row-two margin-top-bottom">
        <p> Your body uses <b><%= @customer.tdee %></b> Calories of energy to get you through an average day! </p>
        <p>This is the above plus the energy you use to walk, move, run and exercise. It’s called your Total Daily Energy Expenditure (TDEE)</p>
      </div>
    </div>
    <% if @basket.customer.goal == "Lose Fat" %>
      <div class="lower-basket-confirmaton">
        <div class="column-category-1 margin-top-bottom">
          <h4>Fact 3</h4>
        </div>
        <div class="column-category-2 margin-top-bottom">
          <p>To lose weight you simply have to consume around <b><%= @customer.daily_calorie_goal %></b> Calories each day. This is 20%  less than your body uses (TDEE) so your body will burn fat stores to get what it needs.</p>
          <p>If you have <b><%= @customer.meals_per_day %></b> meals per day this is about <b><%= @customer.daily_calorie_goal / @customer.meals_per_day %></b> Calories each meal.</p>
          <p>Simply swap out one of these meals for a super-healthy yoggie custom!</p>
          <ul>
            <p>✔ Tastes amazing!</p>
            <p>✔ Gives you 410 micronutrient dense Calories</p>
            <p>✔ Protein/carbs/fats ratio specially tweaked to promote fat loss - high protein, low carb</p>
          </ul>
        </div>
      </div>
      <% elsif @basket.customer.goal == "Health Boost"%>
      <div class="lower-basket-confirmaton">
        <div class="column-category margin-top-bottom">
          <h4>Fact 3</h4>
        </div>
        <div class="column-category margin-top-bottom">
          <p>Each day you use <b><%= @customer.daily_calorie_goal %> </b>Calories. You could get these by eating <b><%= @customer.tdee / 233%></b> Mars Bars, <b><%= @customer.tdee / 291 %></b> croissants or <b><%= @customer.tdee / 21.75 %></b> Jelly Babies! * </p>
          <p>If you have <b><%= @customer.meals_per_day %></b> meals per day you need about <b><%= @customer.daily_calorie_goal / @customer.meals_per_day %> Calories each meal.</b></p>
           <p>Simply swap out one of these meals for a health boosting yoggie custom bursting with nutrients!</p>
          <ul>
            <p>✔ Taste treat!</p>
            <p>✔ Gives you 510 naturally nutrient-rich Calories</p>
            <p>✔ Balanced protein, carbs and fats to give you 100% complete nutrition</p>
          </ul>
        </div>
      </div>
      <% else %>
      <div class="lower-basket-confirmaton">
        <div class="column-category margin-top-bottom">
          <h4>Fact 3</h4>
        </div>
        <div class="column-category margin-top-bottom">
          <p>To gain weight you should aim to consume around <%= @customer.daily_calorie_goal %> Calories each day. This is 10% more than it needs. If you regularly exercise with heavy weights it will use the surplus to build your muscles. If not it will store it as fat.</p>
          <p>If you have <b><%= @customer.meals_per_day %></b> meals per day this is about <b><%= @customer.daily_calorie_goal / @customer.meals_per_day %></b> Calories each meal.</p>
          <p>Simply swap out one of these meals for a muscle building yoggie custom!</p>
            <ul>
             <p>✔ Tastes superb!</p>
             <p>✔ Gives you 610 micronutrient dense Calories</p>
             <p>✔  High protein macronutrient (protein, carbs & fats) ratio specially tweaked to promote muscle gain</p>
            </ul>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
