<div class="choose-smoothies-wrapper">
  <h2 class="text-center">Choose Your Smoothies</h2>
  <% if @message %>
    <p class="text-center", style="color:#91B060;"><%= @message %></p>
  <% end %>
<div class="our-smoothies"><br>
  <%= form_for [@customer, @customer.basket] do |b| %>
    <% @smoothies.each do |smoothie| %>
    <div class="smoothie" data-id="<%= smoothie.id %>"></div>
        <div class="smoothie-quantity-image standard-yoggie">
          <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1517227077/Peachy_Mangos_zpkava.png" %>
          <p><%= smoothie.name.capitalize.titleize.humanize %>&nbsp;  
          <%= select_tag "quantity[#{smoothie.id}]", options_for_select([0, 1, 2, 3, 4, 5]) %>
        </div>
    <% end %>
</div>
<br>
<div class="yoggie-add"><%= b.submit 'Change My Smoothies', class: 'btn-yoggie-add' %></div>
  <% end %>

  <div id="modal-container"></div>

  <script>
    $('.smoothie').click(function(){
      var smoothieId = $(this).data('id')
    })
  </script>
</div>

