<h1>Your Results</h1>
<p>Based on your data we have calculated the following:</p>
<p>Your BMR: <%= @customer.bmr %></p>
<p>Your Total Daily Energy Expenditure: <%= @customer.tdee %></p>
<p>Daily Target Caloric Intake: <%= @customer.daily_calorie_goal %></p>
<p>Calories per Smoothie: <%= @customer.calories_per_shake %></p>
<p>Percentage Protein: <%= @customer.protein %></p>
<p>Percentage Fat: <%= @customer.fat %></p>
<p>Percentage Carbohydrate: <%= @customer.carbs %></p>


<% @smoothies.each do |smoothie| %>
  <p><%= smoothie.name %></p>
<% end %>
