<h1>Your Results</h1>
<p>Based on your data we have calculated the following:</p>
<p>Your BMR: <%= @customer.bmr %></p>
<p>Your Total Daily Energy Expenditure: <%= @customer.tdee %></p>
<p>Daily Target Caloric Intake: <%= @customer.daily_calorie_goal %></p>
<p>Calories per Smoothie: <%= @customer.calories_per_shake %></p>
<p>Percentage Protein: <%= @customer.protein %></p>
<p>Percentage Fat: <%= @customer.fat %></p>
<p>Percentage Carbohydrate: <%= @customer.carbs %></p>

<% if @message %>
  <p style="color:red;"><%= @message %></p>
<% end %>
<%= form_for [@customer, @basket] do |b| %>
  <% @smoothies.each do |smoothie| %>
  <div class="smoothie" data-id="<%= smoothie.id %>"></div>
    <p><%= smoothie.name %></p>
    <%= select_tag "quantity[#{smoothie.id}]", options_for_select([0, 1, 2, 3, 4, 5]) %>
  <% end %>
  <%= b.submit 'Add My Smoothies' %>
<% end %>

<div id="modal-container"></div>

<script>
  $('.smoothie').click(function(){
    var smoothieId = $(this).data('id')
  })
</script>
