<div class="footer">
	<div class="footer-logo">
		<%= image_tag "logo.png" %>
	</div>
	<div class="footer-column footer-left">
		<%= link_to "How Yoggie Works", "#" %>
		<%= link_to "About Our Yoggies", "#" %>
		<%= link_to "Yoggie Flavours", "#" %>
	</div>
	<div class="footer-column footer-center">
		<%= link_to "How Yoggie Works", "#" %>
		<%= link_to "About Our Yoggies", "#" %>
		<%= link_to "Yoggie Flavours", "#" %>
	</div>
	<div class="footer-column footer-right">
		<%= link_to "How Yoggie Works", "#" %>
		<%= link_to "About Our Yoggies", "#" %>
		<%= link_to "Yoggie Flavours", "#" %>
	</div>
</div>