<div class="navbar-yoggie-main">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-yoggie-brand-main" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <div class="main-nav hidden-xs hidden-sm">
    <%= link_to "How Yoggie Works", root_path(:anchor => "how-it-works"), class: "navbar-yoggie-link" %>
    <%= link_to "About", root_path(:anchor => "about-yoggies"), class: "navbar-yoggie-link"  %>
    <%= link_to "Our Yoggies", choose_standard_path, class: "navbar-yoggie-link"  %>
  </div>

  <%= link_to "CREATE MY TAILORED YOGGIE", choose_custom_path, class: 'btn-navbar-scroll' %>

<div class="navbar-yoggie-login-main">
  <% if current_user %>
    <% if current_user.customer %>
      <%= link_to customer_path(current_user.customer) do %>
        <i class="fa fa-user icon-pink"></i>
      <%end%>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete  do %>
      <i class="fa fa-sign-out icon-pink"></i>
    <%end%>
  <% else %>
    <%= link_to new_user_session_path do %>
      <i class="fa fa-user icon-pink"></i>
    <%end%>
  <% end %>
  <div class="navbar-yoggie-social">
    <%= link_to "https://www.facebook.com/YoggieSmoothies", target: "_blank" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <%= link_to "https://twitter.com/YoggieSmoothies", target: "_blank" do %>
      <i class="fa fa-twitter"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/yoggiesmoothies/", target: "_blank" do %>
      <i class="fa fa-instagram"></i>
    <% end %>
  </div>
</div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-yoggie-item hidden-md hidden-lg">
    <div class="dropdown dropdown-main">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-yoggie-dropdown-menu">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "How Yoggie Works", root_path(:anchor => "how-it-works") %></li>
        <li><%= link_to "About", root_path(:anchor => "about-yoggies") %></li>
        <li><%= link_to "Our Yoggies", smoothies_path %></li>
      </ul>
    </div>
  </div>
</div>
