<div class="form-wrapper">
  <%= simple_form_for @customer do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :postcode %>
    <%= f.input :accepted_terms, label: 'I agree to Yoggie\'s Terms' %>
    <%= f.input :newsletter, label: 'I would like to subscribe to the newsletter' %>
    <%= f.submit %>
  <% end %>
</div>
