<div class="form-wrapper">
  <%= simple_form_for @customer do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :gender, as: :select, collection: Customer::GENDER.map{|g|g.humanize} %>
    <%= f.input :age %>
    <%= f.input :height %>
    <%= f.input :weight %>
    <%= f.input :activity_level, as: :select, collection: Customer::ACTIVITY_LEVEL_MULTIPLIERS.keys %>
    <%= f.input :goal, as: :select, collection: Customer::GOAL_MULTIPLIERS.keys %>
    <%= f.submit 'Calculate my shit' %>
  <% end %>
</div>
