<%= render 'shared/flashes' %>
<div class="our-smoothies-banner"></div>
<div class="form-wrapper vitals-form">
  <h3 class="text-center">In 7 questions, we'll create your nutritionally perfect smoothie! Go...</h3>
  <br>

  <%= simple_form_for @customer do |f| %>

    <%= f.input :first_name %>

    <%= f.input :last_name %>
    <%= f.input :gender, label:'I am a...',  as: :select, collection: Customer::GENDER.map{|g|g.humanize}, required: true %>
    <%= f.input :age , required: true%>
    <%= f.input :height, label: 'Height (cm)', required: true %>
    <%= f.input :weight, label: 'Weight (kg)' , required: true%>
    <%= f.input :meals_per_day, as: :select, collection: Customer::MEALS_PER_DAY.keys, required: true  %>
    <%= f.input :activity_level, as: :select, collection: Customer::ACTIVITY_LEVEL_MULTIPLIERS.keys, required: true %>
    <%= f.input :goal, as: :select, collection: Customer::GOAL_MULTIPLIERS.keys, required: true %>
    <div class="results-button">
      <%= f.submit 'GET MY RESULTS', class: "btn-yoggie-main-green text-center" %>
      <% end %>
    </div>
</div>
