<%= render 'shared/flashes' %>
<div class="customer-vitals-wrapper">
	<div class="customer-vitals-box">
		<h2>My Dashboard</h2>
		<h3><%= @customer.first_name %> <%= @customer.last_name %></h3>
    <%= link_to 'Change my address', edit_customer_address_path(@customer) %>
		<hr>
    <div class="customer-vitals-subscription text-center">
        <h4>My <u><%= @status %></u> Subscription</h4>
        <ul>
          <% if @customer.basket && @customer.basket.smoothies %>
           <% @customer.basket.smoothies.group_by {|smoothie| smoothie.name}.each do |smoothie_array| %>
              <p><span><%= smoothie_array[0].titleize %> x <%= smoothie_array[1].count %> </span></p>
            <% end %>
        <% end %>
        </ul>
        <h4>Amend</h4>
        <%= link_to 'Change my Smoothies', smoothies_path(@customer, @customer.basket) %>
        <%= link_to "Pay For Your Yoggies", edit_customer_path(current_user.customer) if @customer&.basket.status == 'pending' && @basket.smoothies.count == 5  %>
        <% if @customer&.basket.active? %>
          <% unless @sub_status %>
            <p>Your subscription needs updating: <%= link_to 'Click here to update', new_customer_payment_path(@customer) %></p>
          <% end %>
          <%= link_to 'Cancel My Subscription', cancel_subscription_customer_basket_path(@customer, @customer.basket), method: :patch if @basket.active? %>
          <%= link_to 'Pause My Subscription', pause_subscription_customer_basket_path(@customer, @customer.basket), method: :patch if @basket.active? %>
          <%= link_to 'My nutrition section', my_nutrition_path(@customer.basket) %>
        <% end %>
      </div>
		<div class="customer-vitals">
			<div class="customer-vitals-details">
				<h4>My Vitals:</h4>
        <p>Name: <span><%= @customer.first_name %></span></p>
				<p>Age: <span><%= @customer.age %></span></p>
				<p>Gender: <span><%= @customer.gender %></span></p>
				<p>Height: <span><%= @customer.height %></span></p>
				<p>Weight: <span><%= @customer.weight %></span></p>
				<p>Meals per day: <span><%= @customer.meals_per_day %></span></p>
				<p>Activity Level: <span><%= @customer.activity_level %></span></p>
				<p>Goal: <span><%= @customer.goal %></span></p>
				<%= link_to 'Change my vitals', dashboard_edit_path(@customer) %>
			</div>
      <% if @customer.basket && !@customer.standard? %>
  			<div class="customer-vitals-nutrition">
  				<h4>My Nutrition:</h4>
  				<p>My BMR: <span><%= @customer.bmr %></span></p>
  				<p>Total Daily Energy Expenditure: <span><%= @customer.tdee %></span></p>
  				<p>Daily Target Caloric Intake: <span><%= @customer.daily_calorie_goal %></span></p>
  				<p>Calories per Smoothie: <span><%= @customer.calories_per_shake %></span></p>
  				<p>Percentage Protein: <span><%= @customer.protein %></span></p>
  				<p>Percentage Fat: <span><%= @customer.fat %></span></p>
  				<p>Percentage Carbohydrate: <span><%= @customer.carbs %></span></p>
  				<% if @customer&.basket.active? %>
  					<%= link_to 'Change to tailored smoothies', update_subscription_path(@customer, standard: false) if @customer.standard? %>
  					<%= link_to 'Change to standard smoothies', update_subscription_path(@customer, standard: true) if !@customer.standard? %>
  				<% end %>
  			</div>
		</div>
    <% end %>
	</div>
</div>
