<!-- Landing image/text -->
<%= render 'shared/navbar' %>
<div class="banner">
	<div class="banner-content">
    <h1>Delicious <br>Smoothie Meals</h1>
		<p>Selection of smoothie mix packs <br>delivered weekly to your door.</p>
		<%= link_to "GET STARTED", new_customer_path, class: 'btn-yoggie-landing' %>
  	</div>
</div>

<!-- Landing intro for standard/tailored Yoggies -->
<div class="pick-plan-section section-padding">
	<h2 class="pick-plan-title">Pick your plan...</h2>
	<div class="pick-plan">
		<div class="yoggie-standard">
			<%= image_tag "http://res.cloudinary.com/dehjqm9b4/image/upload/v1530007690/Yoggie_standard_smoothie_agdbed.png" %>
			<div class="yoggie-standard-text">
				<h3>Yoggie</h3>
				<p>Delicious smoothie ingredient mixes created by Nutritionists. Quicker, tastier alternative to breakfast (and super-good for you)! Box of 5 daily smoothies (Mon-Fri) delivered weekly to your doorstep. Blend straight from frozen for max taste!</p>
				<p>
					<ul>✓ &nbsp; amazing recipes</ul>
					<ul>✓ &nbsp; complete meal, ready in <br>30 seconds</ul>
					<ul>✓ &nbsp; 100% balanced nutrition</ul>
					<ul>✓ &nbsp; 100% natural (no powders!)</ul>
				</p>
				<%= link_to "CHOOSE MY YOGGIES", smoothies_path, class: 'btn-yoggie-main-clear' %>
			</div>
		</div>
		<div class="yoggie-custom">
			<%= image_tag "http://res.cloudinary.com/dehjqm9b4/image/upload/v1530010895/Yoggie_tailored_smoothie_nzm9ds.png" %>
			<div class="yoggie-custom-text">
				<h3>Yoggie Custom</h3>
				<p>Same delicious flavours as Yoggie with the protein, carbs, fats & calories customised to your body & goals! We just need to know a little bit about you to crunch the numbers. Our 7 question quiz take just 26 seconds to complete!</p>
				<p>
					<ul>✓ &nbsp; same delicious flavours as yoggie</ul>
					<ul>✓ &nbsp; nutritionally customised to your body</ul>
					<ul>✓ &nbsp; lose weight, gain weight, boost health - you pick!</ul>
					<ul>✓ &nbsp; 100% natural (no powders!)</ul>
				</p>
				<%= link_to "START CUSTOMISING", new_customer_path, class: 'btn-yoggie-main-clear' %>
			</div>
		</div>
	</div>
</div>

<!-- How Yoggie works -->
<div class="how-it-works-section text-center" id="how-it-works">
	<div class="border-fade">
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516705807/Asset_5_oihd9x.png" %>
	</div>
		<h2>How it works</h2>
		<div class="how-it-works">
			<div class="how-it-works-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1556715195/laptop_vc4kaa.png" %>
				<div class="how-it-works-text">
					<h4>You Choose</h4>
					<p>Pick 5 yoggies (one for each day, Monday to Friday) from our range of delicious flavours</p>
				</div>
			</div>
			<div class="how-it-works-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1556715195/lorry_hqaf2d.png" %>
				<div class="how-it-works-text">
					<h4>We Deliver</h4>
					<p>Each week we deliver your box of 5 yoggie packs to your doorstep or Safe Place. Frozen for tip top taste and max nutrients. Pop in freezer within 6 hours. Brrrr…</p>
				</div>
			</div>
			<div class="how-it-works-icons how-it-works-making">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1556714742/blender_hpingm.png" %>
				<div class="how-it-works-text">
					<h4>You Blend</h4>
					<p>Empty yoggie pack into blender straight from freezer. Add water/milk/yoghurt or whatever you like! Blitz. Done.</p>
				</div>

		</div>
	</div>
	<%= link_to "GET STARTED", new_customer_path, class: 'btn-yoggie-main-clear' %>
	<div class="border-fade">
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516705803/Asset_4_ms4jfp.png" %>
</div>
</div>

<!-- About Our Yoggies -->
<div class="about-our-yoggies section-padding text-center" id="about-yoggies">
	<h2>What is Yoggie?</h2>
	<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1550156528/WhatIsYoggie_diagram_ylvies.png" %>
</div>


<!-- What's in your weekly Yoggie box -->
<div class="yoggie-benefits">
	<div class="yoggie-benefits-content">
		<h2>Benefits of Yoggie</h2>
		<div class="benefits-row">
			<div class="benefits-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1550142080/CH-Thumb_vwtcor.png" %>
				<h4>Treat yourself. Every day.</h4>
				<p>We want you to love your Yoggie. So we make sure that each one tastes gorgeous!</p>
			</div>
			<div class="benefits-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1550142080/CH-Sun_zrjojv.png" %>
				<h4>Boost your health.</h4>
				<p>Created by nutritionists to help get you looking, thinking and feeling great.</p>
			</div>
			<div class="benefits-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1549965934/CH-Stopwatch_iqsith.png" %>
				<h4>Save time.</h4>
				<p>Just blend for 30 seconds straight from the freezer. And you're ready to go.</p>
			</div>
		</div>
		<div class="benefits-row">
			<div class="benefits-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1550142080/CH-Clipboard_k9rhxh.png" %>
				<h4>100% complete nutrition.</h4>
				<p>Each Yoggie smoothie is a complete meal with all the protein, carbs and fats you need.</p>
			</div>
			<div class="benefits-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1550142080/CH-Walking_a4suxq.png" %>
				<h4>Meal on-the-go.</h4>
				<p>Blend at home or office. Drink whenever and wherever you like.</p>
			</div>
			<div class="benefits-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1550142080/CH-Bananas_pzhcnx.png" %>
				<h4>No nasties.</h4>
				<p>No powders. No artificial sweeteners, colourings or flavourings. Just proper foods, blitzed.</p>
			</div>
		</div>
		<%= link_to "CHOOSE MY YOGGIES", new_customer_path, class: 'btn-yoggie-main-clear' %>
	<%= link_to "START CUSTOMISING", new_customer_path, class: 'btn-yoggie-main-clear' %>
	</div>
</div>

<!-- What our customers say -->
<div class="testimonials-section section-padding">
	<h2>What Our Customers Say...</h2>
	<div class="testimonials">
		<div class="testimonial testimonial-orange">
			<p>"I look forward to my breakfast smoothie every morning!"</p>
			<span><p>– Nikki P</p></span>
		</div>
		<div class="testimonial testimonial-blue">
			<p>"ADORE my smoothies!! I have one for lunch each day. Plus I know it’s healthy so no guilt!!!"</p><span><p>– Cara P</p></span>
		</div>
		<div class="testimonial testimonial-red">
			<p>"These are life-changing. Thank you so much guys."</p>
			<span><p>– John G</p></span>
		</div>
		<div class="testimonial testimonial-green">
			<p>"My post gym Yoggie is my ritual. It basically gets me through my day."</p>
			<span><p>– Tom M</p></span>
		</div>
	</div>
</div>


















