<!-- Landing image/text -->
<%= render 'shared/navbar' %>
<div class="banner">
	<div class="banner-content">
    <h1>Complete Smoothie Mixes</h1>
		<p>Tailored to you.</p>
		<%= link_to "CREATE MY PERFECT SMOOTHIE", new_customer_path, class: 'btn-yoggie-landing' %>
  	</div> 
</div>

<!-- Landing intro for standard/tailored Yoggies -->
<div class="landing-intro-section section-padding">
	<div class="yoggie-intro intro-standard-section">
		<%= image_tag "http://res.cloudinary.com/dehjqm9b4/image/upload/v1530007690/Yoggie_standard_smoothie_agdbed.png" %>
		<div class="intro-standard-yoggie">
			<h2>Standard Yoggie</h2>
			<p>Simply delicious smoothie recipes created by our taste experts. Packed and ready to blend.</p>
			<p>
				<ul>✓ &nbsp; Turbo Tasty</ul>
				<ul>✓ &nbsp; Real organic whole foods</ul>
				<ul>✓ &nbsp; Nutritionist Approved</ul>
				<ul>✓ &nbsp; Ready in 20 seconds</ul>
			</p>
			<%= link_to "CHOOSE MY YOGGIES", smoothies_path, class: 'btn-yoggie-main-green' %>
		</div>
	</div>
	<div class="yoggie-intro intro-tailored-section">
		<div class="intro-tailored-yoggie">
			<h2>Tailored Yoggie</h2>
			<p>Complete, delicious smoothie mixes tailored to you by our nutritionists and taste experts.</p>
			<p>
				<ul>✓ &nbsp; Super Tasty</ul>
				<ul>✓ &nbsp; Nutritionally tailored to you</ul>
				<ul>✓ &nbsp; Real foods – no powders, no artificial &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sweetners, no flavourings</ul>
				<ul>✓ &nbsp; Healthy, complete meal in 20 seconds</ul>
			</p>
			<%= link_to "CREATE MY PERFECT SMOOTHIE", new_customer_path, class: 'btn-yoggie-main-green' %>
		</div>
		<%= image_tag "http://res.cloudinary.com/dehjqm9b4/image/upload/v1530010895/Yoggie_tailored_smoothie_nzm9ds.png" %>
	</div>
</div>

<!-- How Yoggie works -->
<div class="how-it-works-section text-center" id="how-it-works">
	<div class="border-fade">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516705807/Asset_5_oihd9x.png" %>
	</div>
	<div class="how-it-works section-padding">
		<h2>How Yoggie Works</h2>
		<div class="how-it-works-recipe">
			<div class="how-it-works-text">
				<h4>Choose Recipe</h4>
				<p>from 7 delicious recipes</p>
			</div>
			<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1518602752/Yoggie_artwork_sketch_01_FINAL_cgbddx.png" %>
		</div>
		<div class="how-it-works-deliver">
			<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1518602752/Yoggie_artwork_sketch_02_FINAL_jx16pi.png" %>
			<div class="how-it-works-text">
				<h4>We Deliver</h4>
				<p>Our yoggies are tailored to you. We calculate your recommended daily calorie, protein, fat and carbohydrate intake</p>
			</div>
		</div>
		<div class="how-it-works-making">
			<div class="how-it-works-text">
				<h4>Making Yoggie</h4>
				<p>Empty your yoggie into a blender, add water or milk or yoghurt... And blitz for about 30 seconds</p>
			</div>
			<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1518602752/Yoggie_artwork_sketch_03_FINAL_vigwda.png" %>
		</div>
		<%= link_to "CHOOSE MY YOGGIES", smoothies_path, class: 'btn-yoggie-main-clear' %>
		<div class="border-fade">
		</div>
	</div>
	<div class="border-fade">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516705803/Asset_4_ms4jfp.png" %>
	</div>
</div>

<!-- About Our Yoggies -->
<div class="about-our-yoggies section-padding text-center" id="about-yoggies">
	<h2>About Our Yoggies</h2>
	<%= image_tag "http://res.cloudinary.com/dehjqm9b4/image/upload/v1530108928/HowYoggieWorks_j4zqms.png" %>
</div>

<!-- What's in your weekly Yoggie box -->
<div class="your-box">
	<div class="your-box-content">
		<h2>What's In Your Weekly Yoggie Box</h2>
		<p>
			<ul>✓ &nbsp; Turbo Tasty</ul>
			<ul>✓ &nbsp; Real organic whole foods</ul>
			<ul>✓ &nbsp; Nutritionist Approved</ul>
			<ul>✓ &nbsp; Ready in 20 seconds</ul>
		</p>
		<%= link_to "CHOOSE MY YOGGIES", smoothies_path, class: 'btn-yoggie-main-green' %>
	</div>
</div>

<!-- What our customers say -->
<div class="testimonials-section section-padding">
	<h2>What Our Customers Say</h2>
	<div class="testimonials">
		<div class="testimonial testimonial-orange">
			<p>"Wow what great service. The Yoggie's were extremely tasty!"</p>
			<span><p>Elie Dobson</p></span>
		</div>
		<div class="testimonial testimonial-blue">
			<p>"Wow what great service. The Yoggie's were extremely tasty!"</p>
			<span><p>Elie Dobson</p></span>
		</div>
		<div class="testimonial testimonial-red">
			<p>"Wow what great service. The Yoggie's were extremely tasty!"</p>
			<span><p>Elie Dobson</p></span>
		</div>
		<div class="testimonial testimonial-green">
			<p>"Wow what great service. The Yoggie's were extremely tasty!"</p>
			<span><p>Elie Dobson</p></span>
		</div>
	</div>
</div>


















