<!-- Landing image/text -->
<div class="banner">
	<div class="banner-content">
    <h1>Complete Smoothie Mixes</h1>
		<p>Tailored to you</p>
		<%= link_to "CREATE MY PERFECT SMOOTHIE", "#", class: 'btn-yoggie-landing' %> 
  	</div>
</div>

<!-- Landing intro for standard/tailored Yoggies -->
<div class="landing-intro-section section-padding">
	<div class="yoggie-intro">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516371608/Yoggie_background_ybv4ti.png" %>
		<div class="intro-standard-yoggie">
			<h2>Standard Yoggie</h2>
			<p>Simply delicious smoothie recipes created by our taste experts. Packed and ready to blend.</p>
			<p>
				<ul>✓ &nbsp; Turbo Tasty</ul>
				<ul>✓ &nbsp; Real organic whole foods</ul>
				<ul>✓ &nbsp; Nutritionist Approved</ul>
				<ul>✓ &nbsp; Ready in 20 seconds</ul>
			</p>
			<%= link_to "CHOOSE MY YOGGIES >", "#", class: 'btn-yoggie-main' %>
		</div> 
	</div>
	<div class="yoggie-intro">
		<div class="intro-tailored-yoggie">
			<h2>Tailored Yoggie</h2>
			<p>Complete, delicious smoothie mixes tailored to you by our nutritionists and taste experts.</p>
			<p>
				<ul>✓ &nbsp; Super Tasty</ul>
				<ul>✓ &nbsp; Nutritionally tailored to you</ul>
				<ul>✓ &nbsp; Real foods – no powders, no artificial sweetners, no flavourings</ul>
				<ul>✓ &nbsp; Healthy, complete meal in 20 seconds</ul>
			</p>
			<%= link_to "CREATE MY PERFECT SMOOTHIE >", "#", class: 'btn-yoggie-main' %>
		</div> 
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516371608/Yoggie_background_ybv4ti.png" %>
	</div>
</div>

<!-- How Yoggie works -->
<div class="how-it-works section-padding text-center">
	<h2>How Yoggie Works</h2>
	<div class="how-it-works-left">
		<div class="how-it-works-text">
			<h4>Choose Recipe</h4>
			<p>from 7 delicious recipes</p>
		</div> 
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516371608/Yoggie_background_ybv4ti.png" %>
	</div>
	<div class="how-it-works-right">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516371608/Yoggie_background_ybv4ti.png" %>
		<div class="how-it-works-text">
			<h4>We Deliver</h4>
			<p>Our yoggies are tailored to you. We calculate your recommended daily calorie, protein, fat and carbohydrate intake</p>
		</div> 
	</div>
	<div class="how-it-works-left">
		<div class="how-it-works-text">
			<h4>Making Yoggie</h4>
			<p>Empty your yoggie into a blender, add water or milk or yoghurt... And blitz for about 30 seconds</p>
		</div> 
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516371608/Yoggie_background_ybv4ti.png" %>
	</div>
	<div class="how-it-works-right">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516371608/Yoggie_background_ybv4ti.png" %>
		<div class="how-it-works-text">
			<h4>Drinking Yoggie</h4>
			<p>...And Enjoy!</p>
		</div> 
	</div>
</div>

<!-- About Our Yoggies -->
<div class="about-our-yoggies section-padding text-center">
	<h2>About Our Yoggies</h2>
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516371608/Yoggie_background_ybv4ti.png" %>
</div>

<!-- What's in your weekly Yoggie box -->
<div class="box-contents section-padding text-center">
	<h2>What's In Your Weekly Yoggie Box</h2>
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516371608/Yoggie_background_ybv4ti.png" %>
</div>

<!-- What our customers say -->
<div class="testimonials section-padding text-center">
	<h2>What Our Customers Say</h2>
</div>


















