<!-- Landing image/text -->
<%= render 'shared/navbar' %>
<div class="banner">
	<div class="banner-content">
    <h1>Complete Smoothie Mixes</h1>
		<p>Tailored to you.</p>
		<%= link_to "CREATE MY PERFECT SMOOTHIE", new_customer_path, class: 'btn-yoggie-landing' %>
  	</div>
</div>

<!-- Landing intro for standard/tailored Yoggies -->
<div class="pick-plan-section section-padding">
	<h2 class="pick-plan-title">Pick your plan</h2>
	<div class="pick-plan">
		<div class="yoggie-standard">
			<%= image_tag "http://res.cloudinary.com/dehjqm9b4/image/upload/v1530007690/Yoggie_standard_smoothie_agdbed.png" %>
			<div class="yoggie-standard-text">
				<h2>Yoggie</h2>
				<p>Delicious smoothie mixes created by Nutritionists. Quicker, tastier alternative to breakfast (and super-good for you)! Box of 5 (1-a-day, Mon to Fri) delivered weekly to your doorstep. Blend straight from frozen for max taste!</p>
				<p>
					<ul>✓ &nbsp; choose from range of uber-yummy smoothies</ul>
					<ul>✓ &nbsp; complete meal</ul>
					<ul>✓ &nbsp; ready in 30 seconds</ul>
					<ul>✓ &nbsp; 100% balanced nutrition</ul>
					<ul>✓ &nbsp; 100% natural (no powders!)</ul>
				</p>
				<%= link_to "CHOOSE MY YOGGIES", smoothies_path, class: 'btn-yoggie-main-green' %>
			</div>
		</div>
		<div class="yoggie-custom">
			<%= image_tag "http://res.cloudinary.com/dehjqm9b4/image/upload/v1530010895/Yoggie_tailored_smoothie_nzm9ds.png" %>
			<div class="yoggie-custom-text">
				<h2>Yoggie Custom</h2>
				<p>Same delicious flavours as Yoggie with the protein, carbs, fats & calories customised to your body & goals! [We just need to know a little bit about you to crunch the numbers. Our [7] question quiz take just 26 seconds to complete!]</p>
				<p>
					<ul>✓ &nbsp; same delicious flavours as yoggie</ul>
					<ul>✓ &nbsp; customised to your body</ul>
					<ul>✓ &nbsp; choose to lose weight, gain weight, boost health</ul>
				</p>
				<%= link_to "GET STARTED", new_customer_path, class: 'btn-yoggie-main-green' %>
			</div>
		</div>
	</div>
</div>

<!-- How Yoggie works -->
<div class="how-it-works-section text-center" id="how-it-works">
	<div class="border-fade">
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516705807/Asset_5_oihd9x.png" %>
	</div>
		<h2>How it works</h2>
		<div class="how-it-works">
			<div class="how-it-works-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1549914367/Laptop_2x_cz4pw7.png" %>
				<div class="how-it-works-text">
					<h4>You Choose</h4>
					<p>Pick 5 yoggies (one for each day, Monday to Friday) from our range of delicious flavours</p>
				</div>
			</div>
			<div class="how-it-works-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1549914367/Lorry_2x_sb9oe3.png" %>
				<div class="how-it-works-text">
					<h4>We Deliver</h4>
					<p>Each week we deliver your box of 5 yoggie packs to your doorstep or Safe Place. Frozen for tip top taste and max nutrients. Pop in freezer within 6 hours. Brrrr…</p>
				</div>
			</div>
			<div class="how-it-works-icons how-it-works-making">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1549914367/Blender_2x_tc3urr.png" %>
				<div class="how-it-works-text">
					<h4>You Blend</h4>
					<p>Empty yoggie pack into blender straight from freezer. Add water/milk/yoghurt or whatever you like! Blitz. Done.</p>
				</div>

		</div>
	</div>
	<%= link_to "GET STARTED", smoothies_path, class: 'btn-yoggie-main-clear' %>
	<div class="border-fade">
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1516705803/Asset_4_ms4jfp.png" %>
</div>
</div>

<!-- About Our Yoggies -->
<div class="about-our-yoggies section-padding text-center" id="about-yoggies">
	<h2>What is Yoggie?</h2>
	<%= image_tag "http://res.cloudinary.com/dehjqm9b4/image/upload/v1530108928/HowYoggieWorks_j4zqms.png" %>
</div>

<!-- What's in your weekly Yoggie box -->
<div class="yoggie-benefits">
	<div class="yoggie-benefits-content">
		<h2>Benefits of Yoggie</h2>
		<div class="benefits-row">
			<div class="benefits-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1549965934/CH-Stopwatch_iqsith.png" %>
				<h6>Treat yourself. Every day.</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae repellat vitae quidem sint.</p>
			</div>
			<div class="benefits-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1549965934/CH-Stopwatch_iqsith.png" %>
				<h4>Treat yourself. Every day.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae repellat vitae quidem sint.</p>
			</div>
			<div class="benefits-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1549965934/CH-Stopwatch_iqsith.png" %>
				<h4>Treat yourself. Every day.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae repellat vitae quidem sint.</p>
			</div>
		</div>
		<div class="benefits-row">
			<div class="benefits-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1549965934/CH-Stopwatch_iqsith.png" %>
				<h4>Treat yourself. Every day.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae repellat vitae quidem sint.</p>
			</div>
			<div class="benefits-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1549965934/CH-Stopwatch_iqsith.png" %>
				<h4>Treat yourself. Every day.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae repellat vitae quidem sint.</p>
			</div>
			<div class="benefits-icons">
				<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1549965934/CH-Stopwatch_iqsith.png" %>
				<h4>Treat yourself. Every day.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae repellat vitae quidem sint.</p>
			</div>
		</div>
		<%= link_to "GET STARTED", smoothies_path, class: 'btn-yoggie-main-green' %>
	</div>
</div>

<!-- What our customers say -->
<div class="testimonials-section section-padding">
	<h2>What Our Customers Say...</h2>
	<div class="testimonials">
		<div class="testimonial testimonial-orange">
			<p>"Wow what great service. The Yoggie's were extremely tasty!"</p>
			<span><p>Elie Dobson</p></span>
		</div>
		<div class="testimonial testimonial-blue">
			<p>"Wow what great service. The Yoggie's were extremely tasty!"</p>
			<span><p>Elie Dobson</p></span>
		</div>
		<div class="testimonial testimonial-red">
			<p>"Wow what great service. The Yoggie's were extremely tasty!"</p>
			<span><p>Elie Dobson</p></span>
		</div>
		<div class="testimonial testimonial-green">
			<p>"Wow what great service. The Yoggie's were extremely tasty!"</p>
			<span><p>Elie Dobson</p></span>
		</div>
	</div>
</div>


















