<div class="our-smoothies-banner"></div>
<div class="privacy-terms section-padding">
	<br>
	<h2>Yoggie Privacy Policy</h2>
	<br>
	<h4>Description</h4>
	<p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from www.yoggie.co.uk (the “Site”)
	In this Privacy Policy references to “us”, “we” or Yoggie means Yoggie Ltd, a company registered in England & Wales with company number 11847309 with registered office at Eastwoods, Pitmore Lane, Sway, Hampshire, SO41 6BW and trading address at Unit 122B Battersea Business Centre, 99-109 Lavender Hill, London, SW11 5QL.</p>

	<h4>Personal information we collect</h4>
	<p>When you visit the Site, we may automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device.</p>

	<p>Additionally, as you browse the Site, we may collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically-collected information as <span>“Device Information.”</span></p>

	<p>We collect Device Information using technologies including but not limited to the following.<br>
	<span>“Cookies”</span> are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit <%= link_to "http://www.allaboutcookies.org", "http://www.allaboutcookies.org" %>.<br>
	<span>“Log files”</span> track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.<br>
 	<span>“Web beacons,” “tags,” and “pixels”</span> are electronic files used to record information about how you browse the Site.</p>

	<p>When you make a purchase or attempt to make a purchase through the Site, we collect certain information from you which we refer to as <span>“Order Information”</span> which may include:<br></br>

	your name;<br>
	billing address;<br>
	shipping address;<br>
	safe place (to leave deliveries);<br>
	record of billings and box deliveries made to you;<br>
	limited payment information (not including credit card information (specifically the name on the card, card type, card number, expiry date and CV2) which is collected and processed by our third party payment processor);<br>
	email address; and<br>
	phone number.</p>
	
	<p>Additionally we may need you to answer questions about your lifestyle & physiology as part of the process for ordering our customised smoothie mix packs. Information we get from these questions we refer to as <span>“Customisation Information”</span> and may include (but is not limited to) your:<br></br>

	gender;<br>
	height;<br>
	weight;<br>
	daily activity level; and<br>
	goals.</p>
	
	<p>When we talk about <span>“Personal Information”</span> in this Privacy Policy, we are talking about <span>Device Information</span>, <span>Customisation Information</span> and <span>Order Information</span>.</p>

	<h4>How do we use your personal information?</h4>
	<p>We use the <span>Order Information</span> that we collect generally to fulfil any orders placed through the Site (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations).</p>

	<p>Additionally, we use this <span>Order Information</span> to:</br></br>
	Communicate with you;<br>
	Screen our orders for potential risk or fraud; and<br>
	When in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.</p>

	<p>We use the <span>Device Information</span> that we collect to help us:<br></br>

	screen for potential risk and fraud (in particular, your IP address);<br>
	improve and optimise our Site (for example, by generating analytics about how our customers browse and interact with the Site);<br>
	to assess the success of our marketing and advertising campaigns;<br>
	analyse our users' demographics and track sales data;<br>
	provide you with offers, competitions, marketing materials and other promotional materials, both online and through other marketing channels, such as third party social networks, like Facebook;<br>
	find other potential customers similar to you (but we would never disclose your data in doing so to any of those customers);<br>
	send you information or content you have requested and develop relevant advertising material for you which will be viewable when you visit the Site or other websites across the Internet;<br>
	communicate with you and investigate any complaints;<br>
	perform market research, data analytics and data appends (to accomplish some of these tasks we may enhance or append other data collected from or about you to the Personal Information we possess); and/or<br>
	associate an email address that you have provided to us with previous browsing and purchase experiences (we may be able to make this connection whether you are logged on or not and we will know whether you receive email alerts and will be able to associate this with any other contact information you may have given us).</p>

	<p>We use the <span>Personal Information</span> to calculate nutritional recommendations for you and customise your yoggie mixes.</p>

	<h4>Sharing your personal information</h4>
	<p>We may share your <span>Personal Information</span> with third parties to help us use your <span>Personal Information</span>, as described above.  For example, we use Stripe.com to power our online store. We also use Google Analytics to help us understand how our customers use the Site. You can read more about how Google uses your <span>Personal Information</span> here: <%= link_to "https://www.google.com/intl/en/policies/privacy/", "https://www.google.com/intl/en/policies/privacy/" %>. You can also opt-out of Google Analytics here:  <%= link_to "https://tools.google.com/dlpage/gaoptout", "https://tools.google.com/dlpage/gaoptout" %>.</p>
	<p>Finally, we may also share your <span>Personal Information</span> to comply with applicable laws and regulations or respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.</p>
	
	<h4>Behavioural advertising</h4>
	<p>As described above, we use your <span>Personal Information</span> to provide you with targeted advertisements or marketing communications we believe may be of interest to you.  For more information about how targeted advertising works, you can visit the <span>Network Advertising Initiative’s (“NAI”)</span> educational page at <%= link_to "http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work", "http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work" %>. You can opt out of targeted advertising by referring to these links.<br><span>Facebook</span> - <%= link_to "https://www.facebook.com/settings/?tab=ads", "https://www.facebook.com/settings/?tab=ads" %><br>
	<span>Google</span> - <%= link_to "https://www.google.com/settings/ads/anonymous", "https://www.google.com/settings/ads/anonymous" %><br></br>
	Additionally, you can opt out of some of these services by visiting the <span>Digital Advertising Alliance’s</span> opt-out portal at:  <%= link_to "http://optout.aboutads.info/" , "http://optout.aboutads.info/" %>.</p>

	<h4>Your rights</h4>
	<p>If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.</p>

	<p>Additionally, if you are a European resident we note that we are processing your information in order to fulfil contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above.</p>

	<p>Additionally, please note that your information will be transferred outside of Europe, including to Canada and the United States.</p>
	
	<h4>Data retention</h4>
	<p>When you place an order through the Site, we will maintain your Order Information for our records unless and until you ask us to delete this information.</p>
	
	<h4>Changes</h4>
	<p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
	
	<h4>Contact us</h4>
	<p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at <%= link_to "theteam@yoggie.co.uk", "mailto:theteam@yoggie.co.uk" %> or by mail to Yoggie’s registered office.</p>

</div>