<!-- PAGE REDUNDANT -->

<!-- <div class="our-smoothies-banner"></div>
<div class="our-smoothies-intro section-padding text-center">
	<h2>Our Yoggies</h2>
	<br>
	<p>Choose 5 smoothies from the below list, one for each working day, and we’ll take care of the rest!</p>
</div>
<div class="our-smoothies">
	<%= link_to smoothie_path do %>
	<div class="standard-yoggie">
		<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1538941091/Yoggie_EtonMess_pwdxyi.png" %>
		<div class="standard-yoggie-content">
			<h3>Eton Mess<br></br></h3>
			<%= link_to " VIEW YOGGIE", smoothie_path, class: 'btn-yoggie-main-clear' %>
			<%= link_to "ADD TO BOX", "#", class: 'btn-yoggie-main-clear' %>
		</div>
	</div>
	<% end %>
	<%= link_to smoothie_path do %>
	<div class="standard-yoggie">
		<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1538941092/Yoggie_AppleBlackcurrent_aejsxt.png" %>
		<div class="standard-yoggie-content">
			<h3>Apple & Blackberry Crumble</h3>
			<%= link_to "VIEW YOGGIE", smoothie_path, class: 'btn-yoggie-main-clear' %>
			<%= link_to "ADD TO BOX", "#", class: 'btn-yoggie-main-clear' %>
		</div>
	</div>
	<% end %>
	<%= link_to smoothie_path do %>
	<div class="standard-yoggie">
		<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1538941088/Yoggie_BerryBomb_wbcinc.png" %>
		<div class="standard-yoggie-content">
			<h3>Berry Bomb<br></br></h3>
			<%= link_to " VIEW YOGGIE", smoothie_path, class: 'btn-yoggie-main-clear' %>
			<%= link_to "ADD TO BOX", "#", class: 'btn-yoggie-main-clear' %>
		</div>
	</div>
	<% end %>
	<%= link_to smoothie_path do %>
	<div class="standard-yoggie">
		<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1538941091/Yoggie_PeachyMangos_kkfai3.png" %>
		<div class="standard-yoggie-content">
			<h3>Peachy Mangos<br></br></h3>
			<%= link_to " VIEW YOGGIE", smoothie_path, class: 'btn-yoggie-main-clear' %>
			<%= link_to "ADD TO BOX", "#", class: 'btn-yoggie-main-clear' %>
		</div>
	</div>
	<% end %>
	<%= link_to smoothie_path do %>
	<div class="standard-yoggie">
		<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1538941091/Yoggie_CoconutPinapple_uvssut.png" %>
		<div class="standard-yoggie-content">
			<h3>Coconut feat. Pineapple</h3>
			<%= link_to " VIEW YOGGIE", smoothie_path, class: 'btn-yoggie-main-clear' %>
			<%= link_to "ADD TO BOX", "#", class: 'btn-yoggie-main-clear' %>
		</div>
	</div>
	<% end %>
	<%= link_to smoothie_path do %>
	<div class="standard-yoggie">
		<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1538941091/Yoggie_Strawberry_llwwh4.png" %>
		<div class="standard-yoggie-content">
			<h3>Strawberry<br></br></h3>
			<%= link_to " VIEW YOGGIE", smoothie_path, class: 'btn-yoggie-main-clear' %>
			<%= link_to "ADD TO BOX", "#", class: 'btn-yoggie-main-clear' %>
		</div>
	</div>
	<% end %>
	<%= link_to smoothie_path do %>
	<div class="standard-yoggie">
		<%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1538941083/Yoggie_TropicalFruits_ollflm.png" %>
		<div class="standard-yoggie-content">
			<h3>Tropical Fruits<br></br></h3>
			<%= link_to " VIEW YOGGIE", smoothie_path, class: 'btn-yoggie-main-clear' %>
			<%= link_to "ADD TO BOX", "#", class: 'btn-yoggie-main-clear' %>
		</div>
	</div>
	<% end %>
</div><br>
<div class="smoothies-page-checkout text-center">
	<p><%= link_to "CHECKOUT  >", "#", class: 'btn-yoggie-main-green' %></p>
</div>
<br></br>


 -->