<div class="our-smoothies-banner"></div>
<div class="our-smoothies-intro section-padding text-center">
	<h2>Our Yoggies</h2>
	<br>
	<p>Choose 5 smoothies from the below list, one for each working day, and we’ll take care of the rest!</p>
</div>
<div class="our-smoothies">
	<div class="yoggie-card">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1517227077/Peachy_Mangos_zpkava.png" %>
		<div class="yoggie-card-content">
			<h3>Peachy Mangos</h3>
			<%= link_to "ADD TO BOX >", "#", class: 'btn-yoggie-main' %>
		</div>
	</div>
	<div class="yoggie-card">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1517227077/Peachy_Mangos_zpkava.png" %>
		<div class="yoggie-card-content">
			<h3>Peachy Mangos</h3>
			<%= link_to "ADD TO BOX >", "#", class: 'btn-yoggie-main' %>
		</div>
	</div>
	<div class="yoggie-card">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1517227077/Peachy_Mangos_zpkava.png" %>
		<div class="yoggie-card-content">
			<h3>Peachy Mangos</h3>
			<%= link_to "ADD TO BOX >", "#", class: 'btn-yoggie-main' %>
		</div>
	</div>
	<div class="yoggie-card">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1517227077/Peachy_Mangos_zpkava.png" %>
		<div class="yoggie-card-content">
			<h3>Peachy Mangos</h3>
			<%= link_to "ADD TO BOX >", "#", class: 'btn-yoggie-main' %>
		</div>
	</div>
	<div class="yoggie-card">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1517227077/Peachy_Mangos_zpkava.png" %>
		<div class="yoggie-card-content">
			<h3>Peachy Mangos</h3>
			<%= link_to "ADD TO BOX >", "#", class: 'btn-yoggie-main' %>
		</div>
	</div>
	<div class="yoggie-card">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1517227077/Peachy_Mangos_zpkava.png" %>
		<div class="yoggie-card-content">
			<h3>Peachy Mangos</h3>
			<%= link_to "ADD TO BOX >", "#", class: 'btn-yoggie-main' %>
		</div>
	</div>
	<div class="yoggie-card">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1517227077/Peachy_Mangos_zpkava.png" %>
		<div class="yoggie-card-content">
			<h3>Peachy Mangos</h3>
			<%= link_to "ADD TO BOX >", "#", class: 'btn-yoggie-main' %>
		</div>
	</div>
	<div class="yoggie-card">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1517227077/Peachy_Mangos_zpkava.png" %>
		<div class="yoggie-card-content">
			<h3>Peachy Mangos</h3>
			<%= link_to "ADD TO BOX >", "#", class: 'btn-yoggie-main' %>
		</div>
	</div>
</div><br>
<div class="smoothies-page-checkout text-center">
	<p><%= link_to "CHECKOUT", "#", class: 'btn-yoggie-main' %></p>
	<p>OR...</p>
	<p><%= link_to "CREATE MY PERFECT SMOOTHIE", "#" %></p>
</div>


