<p>Someone has changed their subscription:</p>

<br>
<strong>Customer Details:</strong>
<p>Customer Reference: <%= @customer.slug %></p>
<p>First Name: <%= @customer.first_name %></p>
<p>Last Name: <%= @customer.last_name %></p>
<br>

<strong>Address:</strong>
<p>Address Line 1: <%= @customer.address&.address_line_one %></p>
<p>Address Line 2: <%= @customer.address&.address_line_two %></p>
<p>Address Line 3: <%= @customer.address&.address_line_three %></p>
<p>Postcode: <%= @customer.address&.postcode %></p>
<p>Safe Place: <%= @customer.address&.delivery_instructions %></p>
<br>

<strong>Order Details:</strong>
<p>Order Referernce: <%= @customer.basket&.stripe_sub_id %></p>
<p>Order Date: <%= "#{Date.today.day.ordinalize} #{Date.today.strftime("%B, %Y")}" %></p>
<p>Delivery Date: <%= @customer&.basket&.next_delivery_date_string %></p>
<p>Order Type: <%= "#{@customer.standard? ? 'STANDARD' : 'TAILORED'}" %></p>
<p>Group: <%= @customer.basket&.smoothies&.first&.group&.name %></p>
<p>Size: <%= @customer.basket&.smoothies&.first&.size&.name %></p>
<p>Smoothie 1: <%= @customer.basket&.smoothies[0]&.name&.titleize %></p>
<p>Smoothie 2: <%= @customer.basket&.smoothies[1]&.name&.titleize %></p>
<p>Smoothie 3: <%= @customer.basket&.smoothies[2]&.name&.titleize %></p>
<p>Smoothie 4: <%= @customer.basket&.smoothies[3]&.name&.titleize %></p>
<p>Smoothie 5: <%= @customer.basket&.smoothies[4]&.name&.titleize %></p>
<br>

<strong>Macros:</strong>
<p>kCal: <%= @customer.calories_per_shake %></p>
<p>protein: <%= @customer.protein %></p>
<p>carbs: <%= @customer.carbs %></p>
<p>fats: <%= @customer.fat %></p>
<br>

<strong>Customisation Questions:</strong>
<p>Sex: <%= @customer.gender %></p>
<p>Weight_kg: <%= @customer.weight %></p>
<p>Height_cm: <%= @customer.height %></p>
<p>Age: <%= @customer.age %></p>
<p>Activity Level: <%= @customer.activity_level %></p>
<p>Goal: <%= @customer.goal %></p>
<p>Meals Per Day: <%= @customer.meals_per_day %></p>
<br>
