<div class="results-wrapper">
  <% unless current_user.customer.standard? %>
    <h4 class="text-center">Your perfect breakfast looks like this:</h4>
    <div class="results-content">
      <%= image_tag "https://res.cloudinary.com/dehjqm9b4/image/upload/v1573558060/Macro_graphic_mfqchc.png", class: "results-graphic" %><br>
      <p><span>Your BMR: </span><span class="your-results"><%= current_user.customer.bmr %></span></p>
      <p><span>Your Total Daily Energy Expenditure: </span><span class="your-results"><%=current_user.customer.tdee %></span></p>
      <p><span>Daily Target Caloric Intake: </span><span class="your-results"><%= current_user.customer.daily_calorie_goal %> CAL</span></p>
      <p><span>Calories per Smoothie: </span><span class="your-results"><%= current_user.customer.calories_per_shake %> CAL</span></p>
      <p><span>Percentage of Protein: </span><span class="your-results"><%= current_user.customer.protein %></span></p>
      <p><span>Percentage of Fat: </span><span class="your-results"><%= current_user.customer.fat %></span></p>
      <p><span>Percentage of Carbohydrate: </span><span class="your-results"><%= current_user.customer.carbs %></span></p>
      <%= link_to "Change my numbers", edit_customer_path(current_user.customer), class: "yoggie-standard-link" %>
    </div>
    <div class="results-line"></div>
    <% end %>
    <p class="results-text text-center">Pick your week’s <span>5</span> smoothie breakfasts below. We'll tweak each recipe to match the above. No worries, no fuss.</p>
    <% if @message %>
      <p style="color: red;"><%= @message %></p>
    <% end %>
</div>
    <div class="our-smoothies">
      <% smoothies.each do |smoothie| %>
      <%= link_to smoothie_path(smoothie.slug) do %>
      <div class="standard-yoggie <%= "active" if BasketSmoothie.where(smoothie: smoothie, basket: current_user.customer.basket).count >= 1 %>">

      <%= cl_image_tag smoothie.image %>
        <div class="standard-yoggie-content">
            <h3><%= smoothie.name.titleize %><br></br></h3><% end %>
          <% if current_user %>
            <%#= link_to "ADD TO BOX", new_customer_basket_path(current_user.customer), class: 'btn-yoggie-main-clear' %>
            <%= form_for [current_user.customer, current_user.customer.basket], :url => url_for(:controller => 'baskets', :action => 'add_to_basket') do |f| %>
              <%= hidden_field_tag 'customer_id', current_user.customer.id %>
              <%= hidden_field_tag 'smoothie_id', smoothie.id %>
              <%= f.hidden_field :tailored, value: false if current_user.customer.standard? %>
              <%= f.hidden_field :tailored, value: true if current_user.customer.tailored? %>
              <%= select_tag "quantity", options_for_select([0, 1, 2, 3, 4, 5], BasketSmoothie.where(smoothie: smoothie, basket: current_user.customer.basket).count) %>
            <div class="flex">
              <%= f.submit 'UPDATE BOX', class: "btn-yoggie-main-green text-center"  %>
            </div>
          <% end %>
        <% else %>
        <%= link_to "VIEW YOGGIE", smoothie_path(smoothie.slug), class: 'btn-yoggie-main-clear text-center' %>
        <% end %>
          <p class="card-hover">
            <% smoothie.ingredients.uniq.each do |ingredient| %>
              ✓ &nbsp;<%= ingredient.name.titleize %></br>
            <% end %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

