
  <div class="standard-yoggie">
  <%= cl_image_tag smoothie.image %>
    <div class="standard-yoggie-content ">
       <%= link_to smoothie_path(smoothie.slug) do %>
            <h3><%= smoothie.name.titleize %><br></br></h3>
          <% end %>
          <%= link_to 'UPDATE BOX', new_user_session_path, class: "btn-yoggie-main-green"%>
          <%= link_to " VIEW YOGGIE", smoothie_path(smoothie.slug), class: 'btn-yoggie-main-clear' %>
        <p class="card-hover">
          <% smoothie.ingredients.each do |ingredient| %>
            ✓ &nbsp;<%= ingredient.name.titleize %></br>
          <% end %>
        </p>
    </div>
  </div>
