<%= render 'shared/flashes' %>
<div class="banner-padding"></div>
<% if user_signed_in? && current_user.customer.basket.smoothies.count == 5 %>
  <div class="banner-padding"></div>
<% else %>
<!-- <div class="our-smoothies-banner"></div> -->
<div class="banner-padding"></div>
<% end %>
<div class="our-smoothies-intro section-padding text-center">
	<br></br>
  <% if current_user&.customer&.first_name&.present? %>
    <h2><%= current_user.customer.first_name %>'s Bare Yoggies</h2>
  <% else %>
	  <h2>Choose Your Bare Yoggies</h2>
  <% end %>
	<br>
</div>
<div class="text-center">
  <% if user_signed_in? %>
    <% if current_user.customer.standard? %>
      <% if current_user.customer.basket.status == 'pending' && current_user.customer.basket.smoothies.count == 5 %>
      <% if  current_user.customer.first_name.nil?%>
        <%= link_to "CHECKOUT", new_customer_address_path(current_user.customer), class: 'btn-yoggie-main-green' %>
      <% else %>
        <%= link_to "CHECKOUT", new_customer_address_path(current_user.customer), class: 'btn-yoggie-main-green' %>
      <% end %>

      <% end %>
      <div class="our-smoothies">
        <% @smoothies.each do |smoothie| %>
          <%= render 'smoothies/card', smoothie: smoothie %>
        <% end %>
      </div>
    <% end %>
</div>
   <% if !current_user.customer.standard? %>
    <% if current_user.customer.basket.status == 'pending' && current_user.customer.basket.smoothies.count == 5 %>
        <div class="text-center">
          <%= link_to "CHECKOUT", new_customer_address_path(current_user.customer), class: 'btn-yoggie-main-green text-center' %>
        </div>
     <% end %>
     <div class="our-smoothies">
         <%= render 'smoothies/card_tailored', smoothies: @smoothies %>
      </div>
    <% end %>
<% else %>
  <div class="our-smoothies">
    <% @smoothies.each do |smoothie| %>
      <%= render 'smoothies/card_guest', smoothie: smoothie %>
    <% end %>
  </div>
<% end %>
<br></br>

<!-- new_customer_payment_path(current_user.customer) -->
