<div class="review-order-wrapper">
  <h3>Review Your Order</h3><br>
  <h4>Your Smoothies:</h4><br>
  <ul>
    <% @customer.basket.smoothies.each do |smoothie| %>
      <p><%= smoothie.name.titleize %></p>
    <% end %>
  </ul>
  <br></br>
  <h4>Weekly Subscription: </h4><p>£<%= @fee /100 %></p>
  <br></br>
  <h4>Delivery Address:</h4><br>
  <p><%= @customer.address.address_line_one %></p>
  <p><%= @customer.address.address_line_two %></p>
  <p><%= @customer.address.postcode %></p>
  <p><%= @customer.address.delivery_instructions %></p>
  <%= link_to 'Change my Address', edit_customer_address_path(@customer, @customer.address) %>
  <br><br/>
  <h4>You're done!</h4><br>
  <%= form_tag customer_payments_path(@customer) do %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="Weekly subscription"
      data-email="<%= @customer.user.email %>"
      data-amount="<%= @fee %>"
      data-currency="gbp"
      data-locale="auto"></script>
    <% end %>
    <br>
</div>
