<p>Hi <%= @customer.full_name %>,</p>

<p>Your order has been successfully changed. Your new order information is as follows.</p>

Smoothies:
<ul>
  <% @customer.basket.smoothies.each_with_index do |smoothie, index| %>
    <p><%= index + 1 %>. <%= smoothie.name.titleize %></p>
  <% end %>
</ul>

Address:
<p><%= @customer.address&.address_line_one %></p>
<p><%= @customer.address&.address_line_two %></p>
<p><%= @customer.address&.address_line_three %></p>
<p><%= @customer.address&.postcode %></p>
<p>Safe Place: <%= @customer.address&.delivery_instructions %></p>
<br>
<p>We will deliver your Yoggie box between 3am and 6am on morning of <%= @customer.basket&.next_delivery_date_string(year: false) %>. Need to make changes? Let us know on hello@yoggie.co.uk/020 3627 3852 by <%= @customer.basket&.two_days_before_delivery_date_string(year: false) %></p>
